* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

html {
  /* 处理移动端touch事件阻止默认行为的报错.todo */
  touch-action: none;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}